{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <style>
    .control-label{white-space:nowrap}
    .radio{display: inline-block;}
  </style>
  <div class="page-header">
    <h1>用户修改</h1>
  </div>
  <div class="col-md-4">
    {{ wtf.quick_form(form, form_type="horizontal") }}
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $('#dept').on('change', function()
    {
      fillSuperior();
    });
    function clearSuperior() {
      var selOpt = $("#superior option");
      selOpt.remove();
    }
    function fillSuperior(){
      if($('#id').val() == 1001) return;
      clearSuperior();
      var data={
        'deptid':$('#dept').val()
      }
      $.ajax({
        type:'GET',
        url:'/user/deptmanagers',
        data:data,
        dataType:'json',
        success:function(data){
          selector=$('#superior');
          for(var i=0;i<data.length;i++){
            selector.append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
          }
        }
      });
    }
  </script>
{% endblock %}