{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block app_content %}
  <h1>Hi, {{ current_user.name }}</h1>
  <table class="table table-hover">
    {% for user in users %}
      <tr>
        <td width="5%">
        {% if user.photo %}
          <img src="/static/{{ user.photo }}" style="width: 40px;height:40px;" />
        {% else %}
          <img src="{{ user.avatar(40) }}" style="width: 40px;height:40px;" />
        {%  endif %}
        </td>
        <td width="5%">
          {{ user.id }}
        </td>
        <td width="5%">
          <a href="{{ url_for('main.user_edit', id=user.id) }}">{{ user.name }}</a>
        </td>
        <td width="5%">
          {{ user.dept.name }}
        </td>
        <td width="5%">
          {{ user.superior_name.name }}
        </td>
        <td width="5%">
          {{ user.username }}
        </td>
        <td width="5%">
          {{ user.email }}
        </td>
        <td width="5%">
          {{ user.mobile }}
        </td>
        <td width="5%">
          {{ user.manager_state }}
        </td>
        <td width="8%">
          {{ user.birthday.strftime("%Y-%m-%d") }}
        </td>
        <td width="8%">
          {{ user.entrydate.strftime("%Y-%m-%d") }}
        </td>
        <td width="5%">
          {{ user.position }}
        </td>
        <td width="5%">
          {{ user.office }}
        </td>
        <td width="5%">
          {{ user.jobstate }}
        </td>
        <td width="5%">
          {{ user.loginstate }}
        </td>
        <td>
        <a width="5%">
          <a href="/user/edit{{ user.id }}">编辑</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <nav aria-label="..." style="text-align: center">
  <!--
    <ul class="pager">
      <li class="previous{% if not prev_url %} disabled{% endif %}">
        <a href="{{ prev_url or '#' }}">
          <span aria-hidden="true">&larr;</span>上一页
        </a>
      </li>
      <li class="next{% if not next_url %} disabled{% endif %}">
        <a href="{{ next_url or '#' }}">
          下一页 <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  -->
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.user_index') }}
    </div>
  </nav>


{% endblock %}
