{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block app_content %}
  <div>
    <div class="col-md-4"><h1>Hi, {{ current_user.name }}</h1></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-search" style="margin-top: 20px" method="get" action="{{ url_for('main.user_index') }}">
        {{ form.q(size=20, class='form-control', placeholder=form.q.label.text) }}
      </form>
    </div>
  </div>
  <table class="table table-hover">
    {% for user in users %}
      <tr>
        <td width="5%">
        {% if user.photo %}
          <img src="/static/{{ user.photo }}" style="width: 40px;height:40px;" />
        {% else %}
          <img src="{{ user.avatar(40) }}" style="width: 40px;height:40px;" />
        {%  endif %}
        </td>
        <td width="5%">
          {{ user.id }}
        </td>
        <td width="5%">
          <a href="{{ url_for('main.user_edit', id=user.id, page=request.args.get('page') or 1) }}">{{ user.name }}</a>
        </td>
        <td width="5%">
          {{ user.dept.name }}
        </td>
        <td width="5%">
          {{ user.superioruser.name }}
        </td>
        <td width="5%">
          {{ user.username }}
        </td>
        <td width="5%">
          {{ user.email }}
        </td>
        <td width="5%">
          {{ user.mobile }}
        </td>
        <td width="5%">
          {{ user.manager_state }}
        </td>
        <td width="8%">
          {{ user.birthday.strftime("%Y-%m-%d") }}
        </td>
        <td width="8%">
          {{ user.entrydate.strftime("%Y-%m-%d") }}
        </td>
        <td width="5%">
          {{ user.position }}
        </td>
        <td width="5%">
          {{ user.office }}
        </td>
        <td width="5%">
          {{ user.jobstate }}
        </td>
        <td width="5%">
          {{ user.loginstate }}
        </td>
        <td>
        <td width="5%">
          <a href="/user/edit/{{ user.id }}">编辑</a>
        </td>
        <td width="5%">
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" onclick="values({{ user.id }})">
            修改密码
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>
  <nav aria-label="..." style="text-align: center">
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.user_index', q) }}
    </div>
  </nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">修改密码</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" id="new_password_id" name="new_password_id">
          <input type="text" id="new_password" name="new_password" class="form-control" placeholder="请输入新密码" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="update_password();">提交更改</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
  <script>
  function update_password(){
    var data={
      'user_id':$('#new_password_id').val(),
      'new_password':$('#new_password').val()
    }
    $('#new_password').val('')
    $('#myModal').modal('hide');
    $.ajax({
        type:'GET',
        url:'/user/updatepassword?id=' + data.user_id + '&password=' + data.new_password,
        data:data,
        dataType:'json',
        success:function(data){
            alert(JSON.stringify(data));
        }
    });
  }
  function values(ID){
    $('#new_password_id').val(ID);
  }
  </script>
{% endblock %}
